.nav-bar{
  margin-bottom: 30px;
}
button {
  cursor: pointer;
  background-color: #5BC8CE;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  padding: 4px 8px;
}
button:hover {
  background-color: rgba(65, 186, 191, 0.7);
}

p{
  padding:0 10px;
}
